--swiftversion 5.3
--header "\nThings URL generator\n{created.year} Alexey Korolev <alphatroya@gmail.com>\n//"
--maxwidth 140
--wraparguments before-first
--wrapcollections before-first
--enable isEmpty,organizeDeclarations
